#container{
    height: 700px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#container2{
    height: 700px;
    text-align: center;
}

* {
    margin: 0;
    background: black;
}

html, body {
    height: 100%;
}

body{
    text-transform: lowercase;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto Slab';
}

.line{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.left{
    text-align: center;
    align-items: left;
    width: 50%;
}

.right{
    text-align: center;
    align-items: right;
    width: 50%;
}

.text{
    text-align: left;
    margin-left: 24px;
}

.code{
    margin-left: 24px;
}

.bar{
    width: 20px;
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
}

.thiccBar{
    width: 40px;
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
}

.button {
    cursor: pointer;
    text-align: center;
    border: 2px solid red;
    padding: 7px 16px;
    color: white;
    background: transparent;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.title{
    margin-top: 30px;
}

.subtitle{
    margin-top: 18px;
    text-align: left;
    margin-left: 24px;
}