#container{
    height: 700px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#container2{
    height: 700px;
    text-align: center;
}

body{
    text-transform: lowercase;
    display: flex;
}

.line{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 20px;
    margin-left: 20px;
}

.line2{
    margin-top: 20px;
    margin-bottom: 16px;
    margin-right: 20px;
    margin-left: 20px;
}

.left{
    text-align: center;
    align-items: left;
    width: 50%;
}

.right{
    text-align: center;
    align-items: right;
    width: 50%;
}

.text{
    text-align: left;
    margin-left: 24px;
}

.code{
    margin-left: 24px;
}

.bar{
    width: 20px;
    background-color: black;
    margin: 8px;
}

.thiccBar{
    width: 40px;
    background-color: black;
    margin: 8px;
}

.button {
	z-index: 2;
	display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 2px solid red;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: white;
    background: transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
    :hover {
    	background: gray;
        outline: 1px solid transparent;
    }                              
}